body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: white;
}

section {
    max-width: 1920px;
    width: 100%;
    background-image: url("../resources/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

.wrapper {
    width: 1028px;
    margin: 0 auto;
}

/*Header styles*/
.header-container.flex {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    margin-bottom: 17px;
}

.logo-block {
    display: flex;
}

.logo-img {
    width: 53px;
    height: 47px;
    background-image: url("../resources/logo-milan.svg");
    background-size: cover;
    transition: 0.19s all ease-in-out;
}

.text-logo {
    padding-left: 8px;
    padding-top: 5px;
}

a {
    transition: 0.2s all ease-in-out;
}

.logo-block:hover > .logo-img {
    background-image: url("../resources/logo-orange.png");
}

a:hover {
    color: #F26522;
}

.logo-img:hover {
    background-image: url("../resources/logo-orange.png")
}

.font-size29 {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.font-size18 {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
}

.header-menu-contacts a {
    display: block;
    text-align: right;
}

.header-menu-contacts a:not(:last-child) {
    margin-bottom: 20px;
}

/*Container-main styles*/

.container-main.grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: space-between;
    grid-row-gap: 37px;
}

.container-main-item {
    width: 300px;
    height: 220px;
    transition: 0.2s all ease-in-out;
    margin-bottom: 37px;
}

.tour-img {
    position: relative;
    overflow: hidden;
}

.container-main-item img {
    margin-bottom: 20px;
}

.container-main-item:hover {
    color: #F26522;
    cursor: pointer;
}


.container-main-item:hover .orange-block {
    margin-bottom: 121px;
    display: block;
}


.tour-img-title {
    text-align: center;
    margin-bottom: 20px;
}


.block-image img {
    width: 100%;
}

.orange-block {
    position: absolute;
    width: 300px;
    height: 55px;
    background-color: #F26522;
    bottom: -60px;
    color: white;
    transition: 0.2s all ease-in-out;
}

.orange-block-text {
    display: flex;
    justify-content: space-between;
}

.small-text {
    font-size: 10px;
    line-height: 10px;
    margin-top: 7px;
    padding-left: 16px;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    line-height: 20px;
    padding-left: 16px;
}

.details {
    font-size: 14px;
    line-height: 14px;
    margin-top: 29px;
    padding-right: 37px;
    margin-bottom: 12px;
}

.orange-block::after {
    color: white;
    content: '';
    background-image: url("../resources/arrow-popup.png");
    background-repeat: no-repeat;
    background-size: 7px 14px;
    width: 12px;
    height: 17px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/*Footer container styles*/

.footer-container {
    padding-top: 48px;
    padding-bottom: 15px;
}

.footer-container p {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}

